:root {
  --font-mono: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 32px;

  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: system-ui;
  font-size: 18px;
  line-height: 32px;

  margin: 0;

  @media (max-width: 1024px) {
    font-size: 15px;
    line-height: 24px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* h1 {
  margin: 40px 0;
  font-size: 64px;
  line-height: 70px;
  font-weight: bold;

  @media (max-width: 1024px) {
    margin: 24px 0;
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: 768px) {
    font-size: 38px;
    line-height: 38px;
  }

  @media (max-width: 400px) {
    font-size: 32px;
    line-height: 32px;
  }
} */

p {
  margin: 24px 0;

  @media (max-width: 1024px) {
    margin: calc(var(--base) * 0.75) 0;
  }
}

a {
  color: currentColor;

  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.7;
    outline: none;
  }
}

svg {
  vertical-align: middle;
}

.home {
  min-height: 100vh;

  overflow: hidden;

  @media (max-width: 400px) {
    padding: 24px;
  }

  .content {
    max-width: 1200px;
    padding: 24px 48px;
    margin: auto;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 12px;

    a {
      text-decoration: none;
      padding: 0.25rem 0.5rem;
      border-radius: 4px;
    }

    .admin {
      color: rgb(0, 0, 0);
      background: rgb(1000, 1000, 1000);
      border: 1px solid rgb(0, 0, 0);
    }

    .docs {
      color: rgb(1000, 1000, 1000);
      background: rgb(0, 0, 0);
      border: 1px solid rgb(1000, 1000, 1000);
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    gap: 8px;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 6px;
    }

    p {
      margin: 0;
    }

    .codeLink {
      text-decoration: none;
      padding: 0 0.5rem;
      background: rgb(60, 60, 60);
      border-radius: 4px;
    }
  }
}

.navbar {
  padding: 24px 32px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #112d4e;
}

.nav-link {
  font-size: 1.1rem;
  padding: 8px 12px;
  font-weight: bold;
  color: #f9f7f7;
  text-decoration-line: none;
}

.nav-btn,
.create-btn {
  font-size: 1rem;
  color: #f9f7f7;
  padding: 8px 12px;
  background: #112d4e;

  border: 2px solid #f9f7f7;
  border-radius: 10px;
}

.nav-btn:hover,
.create-btn:hover {
  color: #112d4e;
  border-color: #112d4e;
  background-color: #f9f7f7;
}

.create-btn-container {
  display: flex;
  justify-content: end;
}

.new-post-form,
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-post-field input,
.new-post-form textarea,
.auth-form input {
  font-size: 1rem;
  padding: 10px;
}

.new-post-field,
.auth-form-field {
  display: flex;
  flex-direction: column;
}

.center-header {
  margin-top: 50px;
  border-bottom: 2px solid black;
}

.authform-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

.form-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.post-card {
  border: 1px solid black;
  padding: 10px;
}
